<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/style">
    </head>
    <body>
        <main>
            <h1 class="title" >Cars</h1>
            <img class="image_home" type="image/jpg" src="./images/26962_9104011630.jpg" alt="cars image">
            <img class="image_home" src="./images/Cars-2-Wallpaper-Tokio-drift-Walt-Disney-Pixar-animated-film-racing-sport-Owen-Wilson-FILEminimizer.jpg" alt="car image2">
        </main>
    </body>
</html>