<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/style">
    </head>
    <body>
        <main>
            <div style="display: flex; flex-direction: column;">
                
                <img style="height: auto; width: 300px; margin-bottom: 10px;" class="image_home" src="<%= miaus[0].image %>" alt="cat image">
                
                <p>
                    Name : <%= miaus[0].name %>
                </p>

                <p>
                    Age : <%= miaus[0].age %>
                </p>

                <% for(let i = 0; i< miaus[0].sleep.length; i++) {%>

                <li>
                    <%= miaus[0].sleep[i] %>
                </li>
                <% } %>

            </div>
        </main>
    </body>
</html>