<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/style">
    </head>
    <body>
        <main>
            <h1>
                Cats
            </h1>
            <div style="display: flex; flex-direction: column;">
                <a href="/miau1">
                    <img style="height: auto; width: 100px; margin-bottom: 10px;" class="image_home" src="./images/image0.jfif" alt="cat image">
                </a>
                <a href="/miau2">
                    <img style="height: auto; width: 100px; margin-bottom: 10px;" class="image_home" src="./images/images.jfif" alt="cat image2">
                </a>
                <a href="/miau3">
                    <img style="height: auto; width: 100px; margin-bottom: 10px;" class="image_home" src="./../static/images/Tabby_cat_with_blue_eyes-3336579.jpg" alt="cat image2">
                </a>
            </div>
        </main>
    </body>
</html>